.cabec { 
    width: 1487px;
    height: 420px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #33BD27 0%, rgba(51, 189, 39, 0.00) 100%);   
}
.cabec-img{
    left: 200%;
    width: 557px;
    height: 185px;
    flex-shrink: 0;
}

.menu{
    width: 1487px;
    height: 227px;
    flex-shrink: 0;
    background: #274F5C;
}   

.menu-lateral{
    
}
.celularquebrado{
    width: 1487px;
    height: 576px;
    flex-shrink: 0; 
}