.celular{
    left: 120px;
    top:150px;
    position: absolute;
    padding: 24px 0;
}
.celular-todos{
    display: grid;
    text-align: center;
    grid-template-columns: 30% 30% 30%;
}
.rodapefinal{
    width: 1900px;
height: 205px;
flex-shrink: 0;

background: linear-gradient(180deg, #33BD27 0%, rgba(51, 189, 39, 0.00) 100%);
}
.menumotorola{
    width: 1487px;
height: 227px;
flex-shrink: 0;
background: #274F5C;
}